@model Euroguessr.Models.Pages.Index.IndexModel

@{
    ViewData["Title"] = "Play!";
}

<link rel="stylesheet" href="~/css/index.css">
<script src="~/js/index.js" defer></script>
<fieldset>
    <legend>@ViewData["Title"]</legend>
    <div class="player" id="player">
        <div class="progressBar">
            <div class="button" id="playerButton">
                <div class="icon">
                    <div class="part left"></div>
                    <div class="part right"></div>
                </div>
            </div>
        </div>
        <canvas id="canvas"></canvas>
    </div>
    <form>
        <div class="searchBoxContainer">
            <div class="searchBox">
                <label for="search">Search your guess</label>
                <div class="search">
                    <input type="text" id="searchBar" placeholder="Type a song ...">
                    <span>🔍</span>
                </div>
            </div>
        </div>
        <div class="songs">
            @foreach (var music in Model.SongsList)
            {
                <div class="song">
                    <label for="@music.id">
                        <input type="radio" id="@music.id" name="choice">
                        <div class="songContainer">
                            <div class="thumbnail">
                                <img src="https://i.ytimg.com/vi/@music.video_id/hq720.jpg" alt="Eat Your Salad">
                            </div>
                            <div class="songInfo">
                                <h3 id="title">@music.song_name</h3>
                                <p id="artist">@music.artist_name</p>
                            </div>
                            <div class="songDetails">
                                <p id="country">Country: @music.country</p>
                                <p id="year">Year: @music.year</p>
                            </div>
                        </div>
                        <div class="send">
                            <button>Send</button>
                        </div>
                    </label>
                </div>
            }
        </div>
    </form>
</fieldset>