@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Euroguessr</title>
    <link rel="icon" type="image/x-icon" href="~/images/icons/favicon.ico">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/lib/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <script src="~/js/header.js" defer></script>

    @await RenderSectionAsync("Scripts", required: false)
</head>

<body>
    <header id="header">
        <a href="@Url.Action("Index", "Home")" class="title">
            <img src="/images/icons/favicon.png" alt="Favicon">
            <h1>Euroguessr</h1>
        </a>
        <nav id="nav">
            <div class="links">
                @{
                    string isHomeActive = "";
                    string isAccountActive = Context.Request.Path == "/Home/Account" ? "active" : "";
                    string isHelpActive = Context.Request.Path == "/Home/Help" ? "active" : "";
                    string isPrivacyActive = Context.Request.Path == "/Home/Privacy" ? "active" : "";

                    if (isHelpActive == "" && isPrivacyActive == "" && isAccountActive == "")
                    {
                        isHomeActive = "active";
                    }
                }
                <a class="nav-link @isHomeActive" href="@Url.Action("Index", "Home")">Home</a>
                <a href="">Training</a>
                <a class="nav-link @isAccountActive" href="@Url.Action("Account", "Home")">Account</a>
                <a class="nav-link @isHelpActive" href="@Url.Action("Help", "Home")">Help</a>
                <a class="nav-link @isPrivacyActive" href="@Url.Action("Privacy", "Home")">Privacy</a>
            </div>
            <div class="toggle" id="toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>

    <main role="main">
        <section class="mainContent">
            @RenderBody()
        </section>
        <footer>
            <div>
                &copy; 2023 - Euroguessr - <a class="link" href="@Url.Action("Privacy", "Home")">Privacy</a>
            </div>
            <div>
                <a href="https://github.com/EuroguessrTeam/Euroguessr" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i>
                </a>
                <span>Made with ❤️</span>
            </div>
        </footer>
    </main>
</body>

</html>
